.list-container{
    background-color: #413e41;
    display: flex;
}

.text-container{
    width: 100%;
}

.list-text{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 120%;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 15%;
    padding-bottom: 3%;
}

.list-text:hover{
    background-color: #4d484d;
}